* {
  font-family: Arial Black, Helvetica, sans-serif;
}

#start {
  background-color: blueviolet;
  color: aliceblue;
  width: 20%;
  text-decoration: none;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subject {
  text-align: center;
}

.intro {
  text-align: center;
  display:block;
}